<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="/">RRHH App</a>

        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
             aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">RRHH App</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        {% if perms.tasks.view_vacation_rescheduling %}
                            <li class="nav-item">
                                <a href="{% url 'approve' %}" class="nav-link">Aprobar solicitudes pendientes</a>

                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'tasks' %}" class="nav-link">Solicitudes pendientes</a>

                            </li>

                        {% endif %}
                        <li class="nav-item">
                            {#                        <a href="{% url 'create_task' %}" class="nav-link">Crear boleta</a>#}
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Crear Formulario
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="{% url 'registro_de_asistencia' %}">Registro de
                                    asistencia</a></li>
                                <li><a class="dropdown-item" href="{% url 'vacation_rescheduling' %}">Reprogramación
                                    de
                                    vacaciones</a></li>
                                <li><a class="dropdown-item" href="{% url 'vacation_account_request' %}">Papeleta de
                                    vacaciones</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Crear Permiso
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="{% url 'official_permit_for_hours' %}">Permiso
                                    oficial por horas</a></li>
                                <li><a class="dropdown-item" href="{% url 'personal_leave_with_pay' %}">Permiso
                                    personal
                                    con goce de haberes</a></li>
                            </ul>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-danger" type="button" href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/signin" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="/signup" class="nav-link">Registrar</a>
                        </li>
                        <li class="nav-item">
                            <a href="/signup_RRHH" class="nav-link">Registrar RRHH</a>
                        </li>
                    {% endif %}
                </ul>
                {#TODO: scomponente de busqueda implementar luego#}
                {#                <form class="d-flex mt-3" role="search">#}
                {#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
                {#                    <button class="btn btn-success" type="submit">Search</button>#}
                {#                </form>#}
            </div>
        </div>
    </div>
</nav>